<%- include("header") -%>

<img src="images/Picture10.jpg" width=100% height=600px alt=""/>
<section>
  <div class="page-section1">
    <h1 class="page-section1-h1">Dwarkadheesh</h1>
    <div class="page-section1-div">
      <p>Shri Dwarkadheesh Mandir is one of the oldest and largest
        Hindu temples of Mathura city in state of Uttar Pradesh, India.
        The current structure of temple was built up by Seth Gokul Das
         Parikh, the treasurer of then Gwalior State (Scindia) in 1814,
         with approval and donation from Shrimant Daulatrao Scindia,
         Maharajah of Gwalior.In this historic temple, Lord Krishna
          is worshipped in his Dwarkanath or Dwarkadhish form along
          with goddess Radha in form of Radharani.The temple has a large
          premises with the main building enclosed by a magnificently
          carved Rajasthani style entrance.</p>
    </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3538.8445099925575!2d77.68281871489677!3d27.505210782876034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3973710e359db6e3%3A0xbf31462debe58532!2sShree%20Dwarikadhish%20Temple%2C%20Mathura!5e0!3m2!1sen!2sin!4v1637266333113!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <hr>
  <div class="section2-div1">
  <h1 class="section2-h1">Medical Emergency</h1>
  <p id="section2-p">NEED A MEDICAL HELP?</p>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Amritdeep Hospital</h5>
          <img class="travel-img-hotel" src="https://lh3.googleusercontent.com/p/AF1QipORZQ5R0eeT4gzE5BVlCh1UbY1GkP_Hwi8JHt0L=w960-h960-n-o-v1" width="500px" height="200px" alt="">
          <!-- <h5 class="card-title">Jagadguru Kripalu Chikitsalaya</h5> -->
          <iframe class="travel-iframe-hospital" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14154.05066763816!2d77.6734917!3d27.5155276!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb1df311a74f2f998!2sAMRITDEEP%20HOSPITAL!5e0!3m2!1sen!2sin!4v1638274137102!5m2!1sen!2sin" width="500px" height="200px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
         <!-- <button type="submit" class="btn btn-lg btn-section2" name="button">Travel to hospital</button> -->
         <form class="" action="https://amritdeephospital.business.site/" method="redirect">
           <button type="submit" class="btn btn-lg btn-section2" name="button">Know More</button>

         </form>
        </div>
     </div>
  </div>

      <div class="col-lg-6 col-md-6">
      <!-- <div class="card">
        <div class="card-body text-center"> -->
          <!-- <h5>Hello</h5> -->
        <!-- </div>
      </div> -->
      <div>
        <h1 class="hospital-features">Features:</h1>
        <ul >
          <li class="hospital-li"><span class="hospital-li-head">Best Clinical Outcomes</span></li>
          <br>
          <p class="hospital-content">Leveraging its vast medical expertise & technological advantage, Apollo Hospitals has consistently delivered best in class clinical outcomes.</p>
          <li class="hospital-li"><span class="hospital-li-head">Advanced Healthcare Services</span></li>
          <br>
          <p class="hospital-content">The hospital provides all types of medical service including Medicines, X-Rays, ECG, Pathology Investigations, etc , thus providing all medical services to its patients.</p>
        </ul>
        <div class="row">
          <div class="col-lg-4 col-md-12 text-center">
            <div class="hospital-icon">
              <i class="fas fa-phone-alt fa-3x "></i>
              <h5 class="icon-text-hospital">+91 7417618988</h5>
            </div>
          </div>

        <!-- <div class="col-lg-4 col-md-12 text-center">
          <div class="hospital-icon">
          <i class="fas fa-envelope fa-3x"></i>
          <h5>jkcvrindavan@jkp.org.in</h5>
          </div>
        </div> -->

        <div class="col-lg-4 col-md-12 text-center">
          <div class="hospital-icon">
            <!-- <form class="" action="" method="redirect">
              <button type="submit" class="btn btn-lg btn-section2" name="button">Know More</button>

            </form> -->
          </div>
        </div>

      </div>

        <!-- <button type="submit" class="btn btn-lg btn-section2" name="button">Travel to hospital</button> -->
      </div>
      </div>



  </div>


</section>


<%- include("footer") -%>
