<section>
  <div class="container-fluid">
    <div class="section2-div1">
      <h1 class="section2-h1">Quick Access</h1>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <i class="icon fas fa-plane fa-8x"></i>
          <form  action="/travel-air" method="post" target="_blank">
            <button class="right btn btn-dark btn-section2" type="submit" name="button">Travel</button>
          </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <i class="icon fas fa-subway fa-8x"></i>
          <form  action="/travel-train" method="post" target="_blank">
            <button class="right btn btn-dark btn-section2" type="submit" name="button">Travel</button>
          </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <i class="icon fas fa-bus fa-8x"></i>
          <form  action="/travel-bus" method="post" target="_blank">
            <button class="right btn btn-dark btn-section2" type="submit" name="button">Travel</button>
          </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <i class="icon fas fa-hospital fa-8x"></i>
          <form  action="https://www.justdial.com/Mathura/Hospitals/nct-10253670" method="redirect" target="_blank">
            <button class="right btn btn-dark btn-section2" type="submit" name="button">Travel</button>
          </form>
        </div>

      </div>

    </div>
  </div>

</section>
<footer>
  Copyright @ Shubhi Arora 2021
</footer>
  </body>
</html>
